.logo-bar {
    width: 100%;
    background-color: black;
    overflow: hidden;
}

.logo-bar img {
    width: 80px;
}

.nav-bar {
    width: 100%;
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 1001;
}

.nav-bar ul {
    padding-inline-start: 0;
    margin-top: 1rem;
}

ul {
    list-style: none;
}

ul li i{
    vertical-align: middle;
    color: grey;
}

.button-accedi {
    padding: 8px 32px;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: black;
    border: none;
    border-radius: 50px;
}

.button-hidden {
    padding: 8px 16px;
    text-align: center;
    color: grey;
    border: 1px solid grey;
    background-color: none;
    border-radius: 16px;
}

/* jumbo */

.jumbo{
    width: 100%;
    background-image: url(../img/jumbo-bg.png);
    background-size: cover;
    background-position: center;
    
}

.padding-top-300{
    padding-top: 200px;
}

.returnal-banner{
    width: 200px;
}

.button-acquista{
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: orangered;
    border: none;
    border-radius: 50px;
}

/* icone giochi */

.games-thumb{
    width: 100%;
}

.box-thumb{
    border-radius: 20px;
    border: 2px solid white;
    overflow: hidden;
}

.box-thumb:hover{
    border-color: blue;
}

.box-thumb-img{
    border-radius: 20px;
    border: 2px solid white;
    overflow: hidden;
}

/* sezione immagine console */

.button-informazioni{
    padding: 8px 16px;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: rgb(0,112,209);
    border: none;
    border-radius: 50px;
}

.playstation-5-thumb{
    width: 100%;
}

.thumb-icon{
    
    border-bottom: 2px solid white;
    opacity: 0.5;
}

.thumb-icon:hover{
    border-bottom: 2px solid rgb(0,112,209) ;
    opacity: 1;
}